body{
  width:550px;
  margin:0 auto;
  font-family: 'Inter', sans-serif;
}
.globe{
  display:flex;
  justify-content: center;
  width:35px;
  height:35px;
  filter: invert(100%);
 
}
.header{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#F55A5A;
  color:white;
  height:55px;
  
}
h2{ font-size:14px;
  letter-spacing: -.17px;
  font-weight:400;
  margin-left:5px;

}

.main-container{
  display:flex;
  margin: 0 auto;
  text-align: start;
  align-items: center;
  margin-top: 20px;
  width:470px;
  height:168px;
}
.info-container{
  margin-left:20px;
}

img{
 
  width:125px;
  height:168px;
  
  
  border-radius:5px;
  
  
}
span{
  text-decoration: underline;
  color:#918E9b;
  font-size:10px;
  margin-left:5px;
}
h3{
  font-size:10px;
  color:#2B283A;
  font-weight:500;
  letter-spacing: 1px;

}
h1{
  font-size:25px;
  font-weight:700;
  margin:0px;
  padding:0px;
}
h4{
  margin:0px;
  margin-top:20px;
  margin-bottom:7px;
  font-size: 11px;
  font-weight:bolder;
  color:#2B283A
}
p{
  margin:0px;
  font-size: 10px;
  line-height:150%;
  font-weight:500;
}
.country-name{

margin-right:5px;
align-items: center;
margin:0px;
padding:0px;
margin-bottom:10px;
}
